<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Кои сме ние</h2>
      <p>Трима луди, които точно като теб обичат Пазарджик, обичат загадките и предизвикателствата.</p>
    </div>

    <div class="row gy-3 justify-center">
      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="../../../../assets/img/team/aya.jpg" class="img-fluid" alt="">
          <h4>Ая Кожухарова</h4>
          <span>г-ца Дизайнер</span>
          <div class="social">
            <a href="https://www.facebook.com/profile.php?id=100009976320813"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/n_kcuf/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="../../../../assets/img/team/nikolay.jpg" class="img-fluid" alt="">
          <h4>Николай Стоянов</h4>
          <span>Бекстейдж човека</span>
          <div class="social">
            <a href="https://www.facebook.com/nikistoyanov05/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/nikolaj.stojanov/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="../../../../assets/img/team/viktor.jpg" class="img-fluid" alt="">
          <h4>Виктор Вукев</h4>
          <span>Нинджата</span>
          <div class="social">
            <a href="https://www.facebook.com/vikivukev"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/viktorvukev/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
