<app-header></app-header>

<main id="main" >
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>{{ game?.name}}</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a [routerLink]="['/']">Игри</a></li>
          <li>{{ game?.name}}</li>
        </ol>
      </div>
    </nav>
  </div>
  <section id="portfolio-details" class="portfolio-details">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="row justify-content-between gy-4 mt-4">
        <div class="col-lg-8">
          <div class="portfolio-description">
            <p> {{ game?.description }}</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="portfolio-info"><h3>Резервирай</h3>
            <ul>
              <li><strong>Instagram</strong> <a href="https://www.instagram.com/game_of_clues/" target="_blank"><span>@game_of_clues</span></a></li>
              <li><strong>Телефон</strong> <a href="tel:+359895268528">+359 89 526 8528</a></li>
              <li><a [routerLink]="['/reservation/duration']" [queryParams]="{ id: game?._id }" class="btn-visit align-self-start">Онлайн оттук</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
