<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <img src="../../../assets/img/logo.svg" class="" alt="">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li *ngIf="!isAuthenticated"><a href="#home">Начало</a></li>
        <li *ngIf="!isAuthenticated"><a href="#about">За нас</a></li>
        <li *ngIf="!isAuthenticated"><a href="#portfolio">Игри</a></li>
        <li *ngIf="!isAuthenticated"><a href="#team">Екип</a></li>
        <li *ngIf="!isAuthenticated"><a href="#contact">Контакти</a></li>
        <li *ngIf="!isAuthenticated">
          <a [routerLink]="['/auth/login']">
            Влез
          </a>
        </li>

        <li *ngIf="isAuthenticated">
          <a [routerLink]="['/dashboard']">
            Табло
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <a (click)="logout()">
            Излез
          </a>
        </li>
        <a  *ngIf="!isAuthenticated" [routerLink]="['/reservation']"><button class="btn-reservations">Резервирай</button></a>
      </ul>
    </nav>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>

</header>
