<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <img src="../../../assets/img/logo.svg" class="" alt="">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#home">Начало</a></li>
        <li><a href="#about">За нас</a></li>
        <li><a href="#team">Екип</a></li>
        <li><a href="#pricing">Цена</a></li>
        <li><a href="#contact">Контакти</a></li>
        <li *ngIf="!isAuthenticated">
          <a [routerLink]="['/login']">
            Влез
          </a>
        </li>

        <li *ngIf="isAuthenticated">
          <a [routerLink]="['/']">
            Табло
          </a>
        </li>
        <a href="#reserve-now"><button class="btn-reservations">Резервации</button></a>
      </ul>
    </nav>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>

</header>

<section id="home" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h2>Чака те <span>зад ъгъла...</span></h2>
        <p>Твоята следваща градска ескейп игра те чака зад ъгъла. Нашите игри в град Пазарджик ще те впуснат в преследване на улики заедно с твоя отбор за едно незабравимо преживяване.</p>
        <div class="d-flexjustify-content-center justify-content-lg-start">
          <a [routerLink]="['/reservation']" class="btn-get-started">Запази</a>
          <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Кои сме ние?</span></a> -->
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="../../../../assets/img/homepage-main.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
      </div>
    </div>
  </div>

  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">
        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-people-group"></i></div>
            <h4 class="title color-white">Ти и твоят отбор</h4>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-brain"></i></div>
            <h4 class="title color-white">Ти и твоите знания</h4>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-hand"></i></div>
            <h4 class="title color-white">Ти и твоите лимите</h4>
          </div>
        </div>

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-route"></i></div>
            <h4 class="title color-white">Ти и твоето приключение</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
