<section id="portfolio" class="portfolio sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Нашите игри</h2>
      <p>Потопи се в атмосферата на един различен свят, изпълнен със загадки и улики. </p>
    </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 portfolio-container">
        <div class="col-xl-4 col-md-6 portfolio-item"  *ngFor="let game of games;">
          <div class="portfolio-wrap">
            <a [routerLink]="['/game/details']" [queryParams]="{ id: game._id }" title="Виж повече">
              <img [src]="game.imageUrl" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ game.name }}</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
