<section id="home" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Чака те <span>зад ъгъла...</span></h2>
          <p>Твоята следваща градска ескейп игра те чака зад ъгъла. Нашите игри в град Пазарджик ще те впуснат в преследване на улики заедно с твоя отбор за едно незабравимо преживяване.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a [routerLink]="['/reservation']" class="btn-get-started">Запази</a>
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Кои сме ние?</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../../../../assets/img/homepage-main.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-people-group"></i></div>
              <h4 class="title color-white">Ти и твоят отбор</h4>
            </div>
          </div>

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-brain"></i></div>
              <h4 class="title color-white">Ти и твоите знания</h4>
            </div>
          </div>

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-hand"></i></div>
              <h4 class="title color-white">Ти и твоите лимите</h4>
            </div>
          </div>

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-route"></i></div>
              <h4 class="title color-white">Ти и твоето приключение</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main id="main">
    <app-about-us></app-about-us>

    <app-services></app-services>

    <app-portfolio></app-portfolio>

    <app-team></app-team>

    <app-pricing></app-pricing>

    <app-faq></app-faq>

    <app-contact></app-contact>
  </main>
