<section class="sample-page">
    <div class="container" data-aos="fade-up">
      <div class="col-lg-12">
        <img src="assets/img/pazardzhik2.jpg" alt="" class="pricing-img" >
      </div>
      <div class="col-lg-12">
        <form [formGroup]="checkPriceForm" (ngSubmit)="check()" method="post">
          <div class="row">
            <div class="col-md-6 form-group">
              <select name="duration" id="duration" form="carform" class="form-control" placeholder="Времетраене: " formControlName="duration">
                <option value="" disabled selected>Колко време ще отделиш?</option>
                <option value="60" [attr.selected]="duration == 60 ? true : null">Скоростна 🏃🏻 (60 минути)</option>
                <option value="90" [attr.selected]="duration == 90 ? true : null">Стандартна 😀 (90 минути)</option>
                <option value="120" [attr.selected]="duration == 120 ? true : null">Предизвикателна 😅 (120 минути)</option>
              </select>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="number" class="form-control" name="people" id="people" placeholder="Колко човека е твоят отбор? (мин. 6)" min="6" required formControlName="people">
            </div>
          </div>
          <div class="form-group mt-3">
            <select name="type" id="type" form="carform" class="form-control" placeholder="Времетраене: " formControlName="type">
              <option value="" disabled selected>Коя игра ще избереш?</option>
              <option value="prepared">Готова игра</option>
              <option value="custom">Игра на моя тема (доп. заплащане)</option>
            </select>
          </div>
          <div class="text-center">
            <button class="pricing-form-button" type="submit">Провери</button>
          </div>
        </form>
        <h4 class="text-center margin-top-1rem" *ngIf="!hidden">Предизвикателство на цена {{ price }} лв.</h4>
        <h4 class="text-center text-danger margin-top-1rem" *ngIf="error">Участниците трябва да бъдат най-малко 6.</h4>
          <div class="text-center" *ngIf="!hidden">
            <a [routerLink]="['/reservation']" [queryParams]="{ duration: duration, people: people, type: type }"><button class="pricing-form-button" type="button">Резервирай</button></a>
          </div>
      </div>
    </div>
  </section>
