.count {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  color: #008374;
  background-color: transparent;
  font-size: 50px;
  font-weight: 700;
  width: 300px;
  min-width: 35px;
  text-align: center;
  outline: none;
  border: none;
}

input:focus {
  border: none;
}

.plus, .minus {
  cursor: pointer;
  background-color: #008374;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}

div {
  text-align: center;
  margin-bottom: 10px;
}

.minus:hover, .plus:hover{
  background-color: #f85a40;
  transition: 0.15s ease-in;
}