<app-header></app-header>

<section id="pricing" class="pricing sections-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Резервация: Брой играчи</h2>
      <p>Избери колко хора ще участвате</p>
    </div>

    <div class="count">
      <div class="minus" (click)="handleMinus()">
        -
      </div>
      <div>
        <input value="1" [(ngModel)]="players">
      </div>
      <div class="plus" (click)="handlePlus()">
        +
      </div>
    </div>

      <div class="col-lg-12">
        <div class="btn-continue">
          <button (click)="continue()" class="btn-reservations">Давай напред!</button>
        </div>
      </div>
    </div>
</section>

