<section id="services" class="services sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Какво ти предлагаме</h2>
      <p>Предлагаме ти следното, заедно с градските ни ескейп игри:</p>
    </div>

    <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-4 col-md-6">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fa-solid fa-handshake"></i>
          </div>
          <h3>Безплатна среща</h3>
          <p> Ще се срещнем с теб изцяло безплатно преди играта, за да обсъдим условията и да предложим оферта.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-circle-info"></i>
          </div>
          <h3>С вас по всяко време</h3>
          <p>Екипът ни ще следи играта ви както дистанционно, така и присъствено през цялото време.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-child-reaching"></i>
          </div>
          <h3>Специално за теб</h3>
          <p>Освен избора от игри, които предлагаме, бихме могли да създадем нещо специално за отбора ти на избрана от теб тема.</p>
        </div>
      </div>
    </div>
  </div>
</section>
